@{
    ViewBag.Title = "Home Page";
}

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Najbolja nega zuba u gradu</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Započnite svaki dan osmehom kada znate da se za Vaše zdravlje brine Dentsoft. Zajedno sa našim pouzdanim partnerima aktivno učestvujemo u preventivi većine najčešćih bolesti desni.</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Naruči odmah</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-light" id="getting-started">
    <div class="container d-md-inline-flex">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-10">
            <div class="started-photo">

            </div>
        </div>
     </div>
</section>